:root {
  --tr: all .3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color:#00000000;
  font-family: 'PingFang SC', 'sans-serif';
}

html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
}

a {
  text-decoration: none;
  outline: 0;
}

li {
  list-style: none;
}

img {
  user-select: none;
}

#pjax-box,
#title {
  transition: var(--tr);
}
#pjax-box.active {
  animation-direction: alternate;
  transform: translateY(20px);
  opacity: 0;
}
#title.active {
  animation-direction: alternate;
  opacity: 0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #0000003A;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #00000080;
  border-radius: 6px;
}


header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: rgba(255 255 255 / .7);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #eee;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  overflow: hidden;
}

header .menu-switch,
header .search-switch {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  transition: var(--tr);
}
header .menu-switch:hover,
header .search-switch:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

header .menu-switch .box,
header .search-switch .box {
  width: 80px;
  height: 40px;
  display: flex;
  transition: var(--tr);
}
header .menu-switch .box.active,
header .search-switch .box .active {
  transform: translateX(-40px);
}

header .menu-switch .box span,
header .search-switch .box span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  opacity: 1;
  transition: var(--tr);
}
header .menu-switch .box span.open.active,
header .search-switch .box span.open.active {
  opacity: 0;
}


header .search-switch .box span.open {
  font-size: 24px;
}

header .menu-switch .box span.close,
header .search-switch .box span.close {
  font-size: 26px;
  opacity: 0;
}
header .menu-switch .box span.close.active,
header .search-switch .box span.close.active {
  opacity: 1;
}

header .center {
  width: calc(100% - 140px);
  height: 100%;
  position: relative;
  overflow: hidden;
}
header .title {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--tr);
}

header .title .the-title {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--tr);
}
header .title .the-title span {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

header .title.active,
header .title .the-title.active {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}

header .title .backtop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: var(--tr);
}
header .title .backtop span {
  display: block;
  padding: 6px 15px;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  transition: var(--tr);
}
header .title .backtop span:hover {
  background-color: #f5f5f5;
}

header .search {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: var(--tr);
}
header .title .backtop.active,
header .search.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
header .search form {
  width: 100%;
}
header .search form input {
  width: 100%;
  height: auto;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  caret-color: #333;
  background-color: #00000000;
}
header .search form input,
header .search form input:focus {
  outline: 0;
  border: 0;
}


footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255 255 255 / .7);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-top: 1px solid #eee;
  padding: 20px 30px;
  margin-top: 30px;
}
footer > *:first-child {
  margin-top: 0;
}
footer > * {
  margin-top: 6px;
}
footer,
footer a {
  color: #999;
  font-size: 14px;
  transition: var(--tr);
}
footer a:hover {
  color: #333;
}




.container {
  position: absolute;
  width: 100%;
  min-height: calc(100% - 70px);
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(0);
  transition: var(--tr);
}
.container.active {
  transform: translateX(300px);
}

aside {
  position: fixed;
  left: 0;
  top: 70px;
  padding: 20px;
  transform: translateX(-100%);
  width: 300px;
  height: calc(100% - 70px);
  background-color: #fff;
  border-right: 1px solid #eee;
  overflow: auto;
  overflow: overlay;
  z-index: 1;
  transition: var(--tr);
}
aside.active {
  transform: translateX(0);
}



aside .main_menu > ul > .menu-item-has-children > ul > .menu-item-has-children > ul {
  display: none;
}
aside .main_menu > ul > li {
  margin-bottom: 5px;
}
aside .main_menu > ul > li:last-child {
  margin-bottom: 0;
}
aside .main_menu > ul > li.menu-item-has-children {
  overflow: hidden;
  transition: var(--tr);
}
aside .main_menu > ul > li.menu-item-has-children > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
aside .main_menu > ul > li.menu-item-has-children > a > .arrow {
  font-size: 19px;
  color: #999;
  transition: var(--tr);
}
aside .main_menu > ul > li.menu-item-has-children > a > .arrow.active {
  transform: rotate(-90deg);
}

aside .main_menu > ul > li.menu-item-has-children > ul {
  background-color: #f5f5f5;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
}
aside .main_menu > ul > li.menu-item-has-children > ul.active {
  padding: 5px;
}
aside .main_menu > ul > li.menu-item-has-children > ul > li {
  margin-bottom: 5px;
}
aside .main_menu > ul > li.menu-item-has-children > ul > li:last-child {
  margin-bottom: 0;
}
aside .main_menu ul li a {
  display: block;
  padding: 6px 10px;
  border-radius: 5px;
  transition: var(--tr);
}
aside .main_menu ul li a,
aside .main_menu ul li a * {
  font-size: 15px;
  color: #333;
}
aside .main_menu ul li a.active,
aside .main_menu > ul > li.menu-item-has-children > a.current,
aside .main_menu ul li a:hover {
  color: #333;
  background-color: rgba(0 0 0 / .05);
}
aside .main_menu ul li a:hover * {
  color: #333;
}









main {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}

main .new ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

main .new ul li {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  transform: translateY(0);
  box-shadow: 0 3px 10px rgba(0 0 0 / .05);
  overflow: hidden;
  transition: var(--tr);
  
}
main .new ul li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 50px rgba(0 0 0 / .1);
}

main .new ul li .cover {
  display: block;
  height: 450px;
}

main .new ul li .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  vertical-align: middle;
  pointer-events: none;
  transition: var(--tr);
}

main .new ul li:hover .cover img {
  filter: brightness(.8);
}

main .new ul li section {
  padding: 10px 5px 5px 5px;
  min-height: calc(100% - 450px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .new ul li .title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .new ul li .title a {
  font-size: 15px;
  color: #333; 
}

main .new ul li .info {
  width: 100%;
  border-top: 1px dashed #eee;
  margin-top: 8px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .new ul li .info .cate,
main .new ul li .info .date {
  color: #999;
  font-size: 13px;
  display: flex;
  align-items: center;
}
main .new ul li .info .cate {
  max-width: calc(100% - 120px);
}
main .new ul li .info .cate a {
  color: #999;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: var(--tr);
}

main .new ul li .info .cate a:hover {
  color: #333;
}

main .new ul li .info .cate span,
main .new ul li .info .date span {
  margin-right: 2px;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-top: 30px;
}
.pagination > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: #333;
  font-size: 15px;
  margin-right: 10px;
  border-radius: 5px;
  transition: var(--tr);
}
.pagination > *:last-child {
  margin-right: 0;
}
.pagination > *:hover {
  background-color: #f5f5f5;
}
.pagination > span,
.pagination > span:hover {
  background-color: #00000000;
  cursor: default;
}
.pagination .current,
.pagination .current:hover {
  background-color: #f5f5f5;
}
.pagination .prev,
.pagination .next {
  display: none;
}


.breadcrumb li {
  word-break: break-all;
  word-wrap: break-word;
  display: inline-block;
}
.breadcrumb li,
.breadcrumb li a {
  font-size: 14px;
  color: #999;
  transition: var(--tr);
}
.breadcrumb li a,
.breadcrumb li.item-current {
  padding: 4px 6px;
  border-radius: 5px;
  line-height: 2;
}
.breadcrumb li a:hover {
  color: #333;
  background-color: #f5f5f5;
}

.breadcrumb li:first-child a::before {
  content: '\e6a7';
  font-family: 'iconfont';
  margin-right: 2px;
}

.breadcrumb li.seperator {
  margin: 0 5px 0 3px;
  transform: rotate(-90deg);
}

.breadcrumb li.seperator::before {
  content: '\e6a4';
  font-family: 'iconfont';
  margin-right: 2px;
}

.breadcrumb li.item-cat a::before {
  content: '\e6ad';
  font-family: 'iconfont';
  margin-right: 2px;
}

.breadcrumb li.item-current::before {
  content: '\e6a8';
  font-family: 'iconfont';
  margin-right: 2px;
}




.single {
  width: 100%;
  clear: left;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.single .main {
  width: calc(100% - 350px);
}
.single .main .text {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0 0 0 / .1);
}


.single .main .text .title {
  margin-bottom: 20px;
  padding-bottom: 18px;
  border-bottom: 1px dashed #eee;
  color: #333;
  font-size: 18px;
}

.single .main .text .content > * {
  max-width: 100%;
  color: #333;
  margin-top: 15px;
  font-size: 15px;
  word-break: break-all;
  word-wrap: break-word;
}
.single .main .text .content > *:first-child {
  margin-top: 0;
}
.single .main .text .content .has-text-align-center,
.single .main .text .content .aligncenter,
.single .main .text .content .aligncenter .wp-element-caption {
  text-align: center;
}
.single .main .text .content .has-text-align-right,
.single .main .text .content .alignright,
.single .main .text .content .alignright .wp-element-caption {
  text-align: right;
}

.single .main .text .content p {
  line-height: 1.5;
}
.single .main .text .content a {
  color: #999;
  text-decoration: underline;
  transition: var(--tr);
}
.single .main .text .content a:hover {
  color: #333;
}
.single .main .text .content img,
.single .main .text .content video,
.single .main .text .content audio {
  max-width: 100%;
  border-radius: 5px;
}

.single .main .text .content p a,
.single .main .text .content .wp-block-image a {
  display: inline-block;
  width: auto;
  height: auto;
}
.single .main .text .content img {
  height: auto;
  vertical-align: middle;
  transition: var(--tr);
}
.single .main .text .content img:hover {
  box-shadow: 0 0 10px rgba(0 0 0 / .05);
}

.single .main .text .content p a img {
  margin-top: 15px;
}
.single .main .text .content p a:first-child img {
  margin-top: 0;
}

.single .main .text .content code {
  padding: 2px 6px;
  background-color: #f5f5f5;
  color: #333;
  border-radius: 5px;
  font-family: 'PingFang SC','Consolas','Courier New','monospace';
  font-size: 14px;
  
}

.single .main .text .content pre {
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  background-color: #f5f5f5;
}

.single .main .text .content pre code {
  line-height: 1.5;
  background-color: #00000000;
  color: #666;
  padding: 0;
  border-radius: 0;
}



.single .main .text .content ul, 
.single .main .text .content ol {
  margin-left: 1em;
}

.single .main .text .content ul li, 
.single .main .text .content ol li {
  line-height: 1.8;
  margin-left: 20px;
  width: calc(100% - 40px);
  word-break: break-all;
  word-wrap: break-word;
}
.single .main .text .content ul li {
  list-style: disc;
}
.single .main .text .content ol li {
  list-style: decimal;
}


.single .main .text .content .wp-block-table {
  overflow: auto;
}
.single .main .text .content .wp-block-table table {
  width: 100%;
  border-collapse: collapse;
}
.single .main .text .content .wp-block-table table.has-fixed-layout {
  table-layout: fixed;
}
.single .main .text .content .wp-block-table tr {
  transition: var(--tr);
}
.single .main .text .content .wp-block-table tr:hover {
  background-color: #f5f5f5;
}
.single .main .text .content .wp-block-table table, 
.single .main .text .content .wp-block-table th, 
.single .main .text .content .wp-block-table td {
  font-size: 15px;
  border: 1px solid #e2e2e2;
}
.single .main .text .content .wp-block-table th, 
.single .main .text .content .wp-block-table td {
  padding: 10px;
}

.single .main .text .content .wp-block-table th {
  background-color: #333;
  color: #fff;
  text-shadow: 0 0 5px rgba(0 0 0 / .2);
}


.single .main .text .content blockquote {
  border-left: 4px solid #999;
  padding: 10px;
  color: #333;
}
.single .main .text .content blockquote cite {
  display: inline-block;
  font-size: 14px;
  color: #999;
  margin-top: 10px;
}


.single .main .text .content h1 {
  font-size: 20px;
  color: #333;
}
.single .main .text .content h2 {
  font-size: 18px;
  color: #333;
}
.single .main .text .content h3 {
  font-size: 16px;
  color: #333;
}
.single .main .text .content h4 {
  font-size: 15px;
  color: #333;
}
.single .main .text .content h5 {
  font-size: 14px;
  color: #333;
}
.single .main .text .content h6 {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}


.single .side {
  width: 330px;
  
}
.single .side > * {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0 0 0 / .1);
}
.single .side > *:last-child {
  margin-bottom: 0;
}

.single .side > * > h3 {
  color: #333;
  font-size: 16px;
  margin-bottom: 15px;
}

.single .side .cate .post-categories {
  width: 100%;
}
.single .side .cate .post-categories li a {
  display: block;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 14px;
  color: #999;
  transition: var(--tr);
}
.single .side .cate .post-categories li a:hover,
.single .side .cate .post-categories li a:hover {
  background-color: #f5f5f5;
  color: #333;
}

.single .side .tag .post-tags {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.single .side .tag .post-tags a {
  width: 100%;
  display: block;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 14px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: var(--tr);
}
.single .side .tag .post-tags a:hover {
  background-color: #f5f5f5;
  color: #333;
}
.single .side .tag .post-tags a.no-tag:hover {
  background-color: #00000000;
  color: #999;
}

.single .side .cate .post-categories li a::before {
  content: '\e6ad';
  font-family: 'iconfont';
  margin-right: 2px;
}
.single .side .tag .post-tags a::before {
  content: '\e6d3';
  font-family: 'iconfont';
  margin-right: 2px;
}
.single .side .tag .post-tags a.no-tag::before {
  content: '';
}
.single .side .cate .post-categories li a:hover::before,
.single .side .tag .post-tags a:hover::before {
  color: #333;
}




@media screen and (min-width: 1567px) {
  .container.active {
    width: calc(100% - 300px);
  }
}


@media screen and (max-width: 1260px) {
  main {
    width: 100%;
    padding: 0 30px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 1200px) {
  main .new ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .single .main {
    width: calc(100% - 300px);
  }
  .single .side {
    width: 280px;
  }
  .single .side .cate .post-categories li a,
  .single .side .tag .post-tags a {
    font-size: 13px;
  }
  .single .side .tag .post-tags {
    grid-gap: 6px;
  }
}

@media screen and (max-width: 900px) {
  main .new ul {
    grid-template-columns: 1fr 1fr;
  }
  .single .main {
    width: 100%;
  }
  .single .side {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  aside {
    width: 260px;
  }
  .container.active {
    transform: translateX(260px);
  }
}


@media screen and (max-width: 600px) {
  header {
    padding: 0 20px;
  }
  header .center {
    width: calc(100% - 120px);
  }
  main {
    padding: 0 20px;
    padding-top: 20px;
  }
  main .new ul {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  main .new ul li .cover {
    height: 350px;
  }
  main .new ul li section {
    min-height: calc(100% - 350px);
  }
  footer {
    margin-top: 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  main .new ul li .cover {
    height: 260px;
  }
  main .new ul li section {
    min-height: calc(100% - 260px);
  }
  main .new ul li .title a {
    font-size: 14px;
  }
  main .new ul li .info {
    flex-direction: column;
    align-items: start;
  }
  main .new ul li .info .cate {
    max-width: 100%;
    margin-bottom: 3px;
  }
  main .new ul li .info .cate,
  main .new ul li .info .cate a,
  main .new ul li .info .date {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  main .new ul li .cover {
    height: 180px;
  }
  main .new ul li section {
    min-height: calc(100% - 180px);
  }
}

@media screen and (max-width: 300px) {
  main .new ul li .cover {
    height: 140px;
  }
  main .new ul li section {
    min-height: calc(100% - 140px);
  }
}




/* main .new ul li .cover {
  height: 200px;
}
main .new ul li section {
  min-height: calc(100% - 200px);
} */